<%- include('includes/head.ejs' {pageTitle: 'Bir Hata Oluştu'}) %>

</head>
<body>

    <%- include('includes/header.ejs') %>

    <main>
        <h1>Bir şeyler ters gitti!</h1>
        <p>Malesef, bir şeyler ters gitti - lütfen tekrar deneyin</p>
        <p>
            <a href="" class="btn">
                Güvenli şekilde geri dönün!
            </a>
        </p>
    </main>

<%- include('includes/footer.ejs') %>