<%- include('../../shared/includes/head.ejs', {pageTitle: 'Tüm Gönderiler'}) %>

</head>
<body>

    <%- include('../../shared/includes/header.ejs') %>

    <main>
        <h1>Tüm hikayeler</h1>
        <p>Hikaye listeleri</p>
    </main>

<%- include('../../shared/includes/footer.ejs') %>