<%- include('../includes/head.ejs', {pageTitle: 'Signup'}) %>

<!-- Css -->
<link rel="stylesheet" href="/styles/forms.css" />
<link rel="stylesheet" href="/styles/base.css" />
<link rel="stylesheet" href="/styles/auth.css" />
</head>

<body>
    <%- include('../includes/header') %> 

    <main>
        <h1>Yeni Hesap Oluştur</h1>
        <form action="/uye-ol" method="POST">
            <p>
                <label for="name">İsim</label>
                <input type="text" name="name" id="name" required>
            </p>
            <p>
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" required>
            </p>
            <p>
                <label for="confirm-email">Email (Tekrar)</label>
                <input type="email" name="confirm-email" id="confirm-email" required>
            </p>
            <p>
                <label for="password">Şifre</label>
                <input type="password" name="password" id="password" minlength="6" required>
            </p>
            <button class="btn">Hesap Oluştur</button>
            <p id="switch-form">
                Hesabın mı var? <a href="/giris-yap">Giriş yap</a>
            </p>
        </form>
    </main>


<%- include('../includes/footer') %> 